<div class="categoriesContainer">
  <h1>Need help with a project?</h2>
  <h3>Post your project here and start getting bids today!</h3>
  <button>Create New Project</button>
</div>

<div class="container">
  <%= render partial: "states/index", locals: { states: State.all } %>
</div>

