.categoriesContainer {
  @include outer-container;
  text-align: center;

  .left {
    @include span-columns(6);
  }

  .right {
    @include span-columns(6);
  }

  .block {
    @include span-columns(3);
    @include omega(4n);
    height: 120px;
    text-align: left;
  }

  h1 {
    font-size: 26px;
    text-align: center;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 2px solid #dddee0;
  }

  h3 {
    text-align: center;
  }

  h6 {
    font-size: 14px;
    margin: 0px 0px 2px 0px;
  }

  button {
    text-align: center;
    margin-bottom: 60px;
  }

  td {
    text-align: left;
  }

  .posted {
    width: 20%;
  }

  .title {
    width: 50%;
  }

  .pay {
    width: 20%;
  }

  .category {
    width: 10%;
  }

  .grayBox {
    text-align: center;
    height: 320px;
    border: 2px solid #477dca;
    border-radius: 8px;
    margin: 80px 20px;
    padding: 40px;

    .modal {
      max-width: 300px;
      margin: auto;
    }

    .blue {
      margin-top: 30px;
      padding: 10px;
      border: 2px solid #477dca;
      border-radius: 8px;
      color: #477dca;
      font-weight: 800;
    }

    .button {
      margin: 40px 0 10px 0;
    }
  }
}