.footerContainer {
  @include outer-container(100%);
  background-color: #4d515b;
  position: relative;

  .darkgray {
    background-color: #2C3240;
    height: 80px;
  }

  .footerLeft {
    @include span-columns(8);
    margin: 20px;
  }

  .footerRight {
    @include span-columns(4);
    position: absolute;
    text-align: center;
    bottom: 0;
    right: 0;
    margin: 20px;
  }

  h1 {
    font-size: 20px;
    color: white;
  }

  h2 {
    color: white;
    font-size: 14px;
    font-weight: 400;
  }

  .mission {
    border: 2px solid white;
    border-radius: 8px;
    padding: 20px;
  }
}