.homeContainer {
  @include outer-container(100%);
  background-color: #d6d6d7;
  margin-bottom: 50px;

  .homeLeft {
    @include span-columns(6);
    margin: 20px 10px;
    padding: 30px;
    height: 500px;
    text-align: center;
    padding: 100px 0;
    margin-bottom: 20px;
    background-color: white;
  }
  .homeMiddle {
    @include span-columns(6);
    margin: 20px 10px;
    padding: 30px;
    height: 500px;
    text-align: center;
    padding: 100px 0;
    margin-bottom: 20px;
    background-color: white;
  }

  .homeRight {
    @include span-columns(4);
    margin: 50px 10px;

  }

  h2 {
    font-size: 24px;
  }

  button {
    margin: 10px;
  }

  form {
    max-width: 400px;

    input {
    }
  }

}
