body {
  margin: 0;

  .nav-ul {
    height: 60px;
    background-color: #2C3240;
    margin-bottom: 30px;

    .nav-li {
      height: 60px;
      padding: 18px 14px;
      display: inline;
      font-size: 1em;
      font-weight: 600;
    }

    #logo {
      font-family: Raleway;
      font-weight: 900;
      font-size: 40px;
      color: white;
    }

    .rightNav {
      text-align: center;
      background-color: #565A66;
      float: right;
      border-left: 5px solid white;
      width: 140px;

      a {
        color: white;
      }
    }

    .rightNav:hover {
      background-color: #4d515b;
    }
  }
  .alert {
    margin: 20px;
    background-color: #ff7f7f;
    border-radius: 8px;
    color: white;
  }
  .notice {
    margin: 0px 30px 30px 30px;
    padding: 0px 10px 0px 10px;
    font-weight: 800;
    background-color: #42ce8b;
    border-radius: 4px;
    color: white;
  }
}

#signIn {
  z-index: 100;
}