<div class="categoriesContainer">
  <h1>Search for Projects by Category</h1>
  <ul><% @categories.each do |category| %>
    <li class="block">
      <%= link_to category.name, category_path(category) %>
    </li>
  <% end %></ul>
</div>